<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://nickdanley.netlify.com">Nick</a> An aspiring web developer.
  </p>
  <br />
  <p>
    He is currently studing full stack web development at the University of Denver Onile Bootcamp
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'nick.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Nick Danley</h2>
      <br />
      <p>
        Nick Danley is an aspiring web developer. He is currently studying at University of Denver Online Bootcamp
      </p>
    </div>
  </div>
</div>

<br class="clear">
<br />
<br />
<br />
<br />