@font-face {
    font-family: 'exo_2regular';
    src: font-url('exo2-regular-webfont.woff2') format('woff2'),
         font-url('exo2-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}